{% trans_default_domain 'victoire' %}

<div class="vic-col-sm-12">
    <h3>{{ 'widget_connect.form.general.title'|trans }}</h3>
    <hr>
    {{ form_row(form.link) }}
    {{ form_row(form.asynchronous) }}
</div>
